@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
  background-color: rgba(var(--color-surface-50));
  background-image: radial-gradient(
      at 0% 0%,
      rgba(var(--color-primary-500) / 0.33) 0px,
      transparent 50%
    ),
    radial-gradient(at 98% 1%, rgba(var(--color-secondary-500) / 0.33) 0px, transparent 50%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
