<script lang="ts" generics="T extends Row">
  import { writable } from 'svelte/store';

  import { type PaginationSettings, Paginator } from '@skeletonlabs/skeleton';
  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  import type { DataHandler, Row } from '@vincjo/datatables';

  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line no-undef
  export let handler: DataHandler<T>;

  const rowsPerPage = handler.getRowsPerPage();
  const size = handler.getRowCount();

  const paginationSettings = writable<PaginationSettings>({
    page: 0,
    limit: $rowsPerPage ?? 0,
    size: $size.total,
    amounts: [5, 10, 25, 50, 100],
  });
</script>

<Paginator
  bind:settings={$paginationSettings}
  on:page={(i) => handler.setPage(i.detail + 1)}
  on:amount={(i) => ($rowsPerPage = i.detail)}
  showNumerals
/>
