<script lang="ts" generics="T extends Row">
  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  import type { DataHandler, Row } from '@vincjo/datatables';

  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line no-undef
  export let handler: DataHandler<T>;

  const rowCount = handler.getRowCount();
</script>

<aside>
  {#if $rowCount.total > 0}
    Showing <b>{$rowCount.start}</b>
    to <b>{$rowCount.end}</b>
    of <b>{$rowCount.total}</b>
  {:else}
    No entries found
  {/if}
</aside>
