<script lang="ts" generics="T extends Row">
  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  import type { DataHandler, Field, Row } from '@vincjo/datatables';

  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line no-undef
  export let handler: DataHandler<T>;

  // eslint-disable-next-line no-undef
  export let orderBy: Field<T>;

  const identifier = orderBy?.toString();
  const sorted = handler.getSort();

  // TODO(17): add callback for backend sorting with graphql
</script>

<th
  class="cursor-pointer"
  on:click={() => handler.sort(orderBy)}
  class:active={$sorted.identifier === identifier}
>
  <div class="flex justify-start items-center h-full p-0">
    <strong>
      <slot />
    </strong>
    <span
      class="pl-2"
      class:asc={$sorted.direction === 'asc'}
      class:desc={$sorted.direction === 'desc'}
    />
  </div>
</th>

<style lang="postcss">
  th {
    @apply select-none;
  }

  th span:before,
  th span:after {
    border: 4px solid transparent;
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  th span:before {
    @apply border-b-surface-300 mt-[2px];
  }

  th span:after {
    @apply border-t-surface-300 mt-[2px];
  }

  th.active span.asc:before {
    @apply border-b-surface-50;
  }

  th.active span.desc:after {
    @apply border-t-surface-50;
  }
</style>
