<!--
  @component
  Generates a SVG line
-->
<!-- TODO(15): tailwindify this component -->
<script lang="ts">
  import { getContext } from 'svelte';
  import type { Readable } from 'svelte/store';

  interface LineProps {
    data: Readable<number[]>;
    xGet: Readable<(d: number) => number>;
    yGet: Readable<(d: number) => number>;
  }

  const { data, xGet, yGet } = getContext<LineProps>('LayerCake');

  let path: string;
  $: {
    path =
      'M' +
      $data
        .map((d) => {
          return $xGet(d) + ',' + $yGet(d);
        })
        .join('L');
  }
</script>

<path class="path-line stroke-error-300 dark:stroke-success-400" d={path} />

<style>
  .path-line {
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2.5;
  }
</style>
