<!-- Got this component from https://layercake.graphics/components/QuadTree.html.svelte -->

<script lang="ts">
  import { getContext } from 'svelte';
  import { quadtree } from 'd3-quadtree';

  import type { LayerCakeContext } from '$lib/interfaces/LayerCakeContext';

  const { data, xGet, yGet, width, height } = getContext<LayerCakeContext>('LayerCake');

  let visible = false;
  let found: [number, number] | Record<number, string>;
  let mouseEvent = {};

  export const x: 'x' | 'y' = 'x';
  export const y: 'y' | 'x' = 'y';
  export const searchRadius = undefined;

  export const dataSet: [number, number][] | undefined = undefined;

  $: xGetter = x === 'x' ? $xGet : $yGet;
  $: yGetter = y === 'y' ? $yGet : $xGet;

  $: finder = quadtree()
    .extent([
      [-1, -1],
      [$width + 1, $height + 1],
    ])
    .x(xGetter)
    .y(yGetter)
    .addAll(dataSet || $data);

  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  const findItem = (event: any) => {
    mouseEvent = event;

    const xLayerKey = `layer${x.toUpperCase()}`;
    const yLayerKey = `layer${y.toUpperCase()}`;

    found = finder.find(event[xLayerKey], event[yLayerKey], searchRadius) || {};
    visible = Object.keys(found).length > 0;
  };
</script>

<div
  role="tooltip"
  class="bg"
  on:mousemove={findItem}
  on:mouseout={() => (visible = false)}
  on:blur={() => (visible = false)}
/>

<slot x={xGetter(found) || 0} y={yGetter(found) || 0} {found} {visible} e={mouseEvent} />
