<!-- Got this component from https://layercake.graphics/components/SharedTooltip.html.svelte -->

<script lang="ts">
  import { getContext } from 'svelte';
  import { format } from 'd3-format';

  import type { LayerCakeContext } from '$lib/interfaces/LayerCakeContext';
  import QuadTree from './QuadTree.svelte';

  const { data, width, yScale, config } = getContext<LayerCakeContext>('LayerCake');

  const commas = format(',');
  const titleCase = (d: string) => d.replace(/^\w/, (w) => w.toUpperCase());

  export const formatTitle = (d: string) => d;
  export const formatValue = (d: number) => (isNaN(+d) ? d : commas(d));
  export const formatKey = (d: string) => titleCase(d);
  export const offset = -20;
  export const dataset = undefined;

  const w = 150;
  const halfW = w / 2;

  // Sort the keys by the highest value
  // eslint-disable-next-line @typescript-eslint/no-explicit-any
  const sortResult = (result: any) => {
    if (Object.keys(result).length === 0) {
      return [];
    }
    const rows = Object.keys(result)
      .filter((d) => d !== $config.x)
      .map((key) => {
        return {
          key,
          value: result[key],
        };
      })
      .sort((a, b) => b.value - a.value);

    return rows;
  };
</script>

<QuadTree dataSet={dataset || $data} y="x" let:x let:visible let:found>
  {@const foundSorted = sortResult(found)}
  {#if visible}
    <div style="lef: {x}px" class="line" />
    <div
      class="tooltip"
      style="
        width: {w}px;
        display: {visible ? 'block' : 'none'};
        top: {$yScale(foundSorted[0].value) + offset}px;
        left: {Math.min(Math.max(halfW, x), $width - halfW)}px;
      "
    >
      <div class="title">
        {formatTitle(found[$config.x])}
      </div>
      {#each foundSorted as row}
        <div class="row">
          <span class="key">
            {formatKey(row.key)}:
          </span>
          {formatValue(row.value)}
        </div>
      {/each}
    </div>
  {/if}
</QuadTree>
