<script lang="ts">
  import '../app.postcss';
  import { AppShell, AppBar } from '@skeletonlabs/skeleton';

  // Floating UI for Popups
  import { computePosition, autoUpdate, flip, shift, offset, arrow } from '@floating-ui/dom';
  import { storePopup } from '@skeletonlabs/skeleton';
  import LightSwitch from '$lib/components/LightSwitch.svelte';
  storePopup.set({ computePosition, autoUpdate, flip, shift, offset, arrow });
</script>

<svelte:head>
  <title>The Federation</title>
</svelte:head>

<!-- App Shell -->
<AppShell>
  <svelte:fragment slot="header">
    <!-- App Bar -->
    <AppBar background="bg-transparent" gridColumns="grid-cols-3" slotDefault="place-self-center">
      <svelte:fragment slot="lead">
        <!-- <strong class="text-xl uppercase">The-Federation</strong> -->
        LOGO
      </svelte:fragment>
      <a href="/" class="btn btn-sm !bg-transparent">Home</a>
      <a href="/" class="btn btn-sm !bg-transparent">Node List</a>
      <a href="/" class="btn btn-sm !bg-transparent">Projects</a>
      <a href="/" class="btn btn-sm !bg-transparent">Protocols</a>
      <a href="/" class="btn btn-sm !bg-transparent">Info</a>
      <a href="/" class="btn btn-sm !bg-transparent">Hosting Report</a>
      <circle />
      <svelte:fragment slot="trail">
        <LightSwitch />
      </svelte:fragment>
    </AppBar>
  </svelte:fragment>
  <!-- Page Route Content -->
  <slot />
</AppShell>
