<script lang="ts">
  import Card from '$lib/components/Card.svelte';
  import Nodes from '$lib/components/charts/Nodes.svelte';
  import ProjectsTable from '$lib/components/tables/ProjectsTable.svelte';

  const getRandomInt = (max: number) => {
    return Math.floor(Math.random() * max + 1).toLocaleString('en-EN');
  };

  const protocols = getRandomInt(20);
  const projects = getRandomInt(200);
  const nodes = getRandomInt(28000);
  const users = getRandomInt(15000000);

  const lastHalfYear = getRandomInt(8000000);
  const lastMonth = getRandomInt(4000000);
  const posts = getRandomInt(1500000000);
  const comments = getRandomInt(25000000);

  const sourceData = [
    {
      icons: '',
      project: 'Mastodon',
      nodes: 1.0079,
      users: 123543,
      website:
        '<a class="underline font-bold" href="https://joinmastodon.org/">joinmastodon.org</a>',
      code: 'codeberg.org',
      license: 'MIT',
    },
    {
      icons: '',
      project: 'Matrix (Synapse)',
      nodes: 4.0026,
      users: 123543,
      website: 'foo.bar.com',
      code: 'codeberg.org',
      license: 'MIT',
    },
    {
      icons: '',
      project: 'Pleroma',
      nodes: 6.941,
      users: 123543,
      website: 'foo.bar.com',
      code: 'codeberg.org',
      license: 'MIT',
    },
    {
      icons: '',
      project: 'Peertube',
      nodes: 9.0122,
      users: 123543,
      website: 'foo.bar.com',
      code: 'codeberg.org',
      license: 'MIT',
    },
    {
      icons: '',
      project: 'Wordpress',
      nodes: 10.811,
      users: 123543,
      website: 'foo.bar.com',
      code: 'codeberg.org',
      license: 'MIT',
    },
  ];
</script>

<div class="container py-10 mx-auto flex justify-center items-center">
  <div class="w-3/5 grid grid-cols-4 gap-4">
    <Card class="col-span-4" title="The Federation">
      <div class="py-5">
        <p>The Fediverse is a global social network, consisting of the interconnected nodes.</p>
        <p>
          Each node is an installation of software that supports one of the federated social web
          protocols.
        </p>
        <p>These decentralized hubs create a global network with millions of users worldwide.</p>
      </div>

      <strong>Just as the internet was originally envisioned.</strong>
    </Card>

    <Card class=" flex flex-col justify-center items-center" title="Protocols" titleLayout="center">
      <span class="p-8 text-3xl">{protocols}</span>
    </Card>
    <Card class=" flex flex-col justify-center items-center" title="Projects" titleLayout="center">
      <span class="p-8 text-3xl">{projects}</span>
    </Card>
    <Card class=" flex flex-col justify-center items-center" title="Nodes" titleLayout="center">
      <span class="p-8 text-3xl">{nodes}</span>
    </Card>
    <Card class=" flex flex-col justify-center items-center" title="Users" titleLayout="center">
      <span class="p-8 text-3xl">{users}</span>
    </Card>

    <Card class="col-span-2" title="Stats">
      <p class="mt-3">Last 6 months active users: {lastHalfYear}</p>
      <p>Last months active users: {lastMonth}</p>
      <p>Posts: {posts}</p>
      <p>Comments: {comments}</p>
      <p class="mt-3">
        <strong>Disclaimer:</strong> These counts do not reflect the whole network due to the opt-in
        nature of the statistics.
      </p>
    </Card>

    <Card class="col-span-2" title="Be part of our world">
      <div class="mt-3 mb-14">
        <p>You want to install your own node?</p>
        <p>Awesome! Choose a project and follow an installation guide.</p>
      </div>
      <a target="_blank" href="https://codeberg.org/thefederationinfo/the-federation.info_next">
        <img
          class="object-contain h-7 hidden dark:block"
          src="/codeberg-logo_icon_white.svg"
          alt="link to repository"
        />
        <img
          class="object-contain h-7 block dark:hidden"
          src="/codeberg-logo_icon_blue.svg"
          alt="link to repository"
        />
      </a>
    </Card>

    <Card class="col-span-4">
      <Nodes />
    </Card>

    <Card class="col-span-4" title="Projects">
      <div class="mt-3">
        <ProjectsTable {sourceData} />
      </div>
    </Card>
  </div>
</div>

<style lang="postcss">
</style>
