<script lang="ts">
  import { LayerCake, ScaledSvg, Html } from 'layercake';
  import AxisX from '../layers/AxisX.svelte';
  import AxisY from '../layers/AxisY.svelte';
  import Line from '../layers/Line.svelte';

  const data = [
    { x: 0, y: 0 },
    { x: 1, y: 1 },
    { x: 2, y: 1.5 },
    { x: 3, y: 3 },
    { x: 4, y: 4 },
    { x: 5, y: 5.5 },
    { x: 6, y: 5.95 },
    { x: 7, y: 5.8 },
    { x: 8, y: 6.2 },
    { x: 9, y: 6.1 },
  ];
</script>

<div class="h-80 w-full p-4 bg-surface-100 dark:bg-surface-800 rounded">
  <LayerCake
    ssr={true}
    x="x"
    y="y"
    percentRange={true}
    padding={{ top: 8, right: 10, bottom: 20, left: 25 }}
    yNice={4}
    yDomain={[0, null]}
    {data}
  >
    <Html>
      <AxisX />
      <AxisY ticks={4} />
    </Html>

    <ScaledSvg>
      <Line />
    </ScaledSvg>
  </LayerCake>
</div>
