<script lang="ts">
  let className: string | undefined = undefined;
  export { className as class };

  export let title = '';
  export let titleLayout: 'left' | 'center' | 'right' | undefined = undefined;
</script>

<div class="card bg-primary-50 dark:bg-primary-600 p-4 w-full h-fit {className}">
  {#if title}
    <div class="flex">
      <strong
        class:title-left={titleLayout == 'left'}
        class:title-center={titleLayout == 'center'}
        class:title-right={titleLayout == 'right'}
        class="text-xl uppercase"
      >
        {title}
      </strong>
    </div>
  {/if}
  <slot />
</div>

<style>
  .title-left {
    @apply mr-auto;
  }

  .title-center {
    @apply mx-auto;
  }

  .title-right {
    @apply ml-auto;
  }
</style>
