<script lang="ts">
  import Table from './Table.svelte';

  let sourceData = [
    {
      icon: '🦮',
      project: 'Project 1',
      nodes: 10,
      users: 5,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 2',
      nodes: 20,
      users: 10,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'GPL+3.0',
    },
    {
      icon: '🦮',
      project: 'Project 3',
      nodes: 30,
      users: 15,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 4',
      nodes: 40,
      users: 20,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'GPL+3.0',
    },
    {
      icon: '🦮',
      project: 'Project 5',
      nodes: 50,
      users: 25,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 1',
      nodes: 10,
      users: 5,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 2',
      nodes: 20,
      users: 10,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'GPL+3.0',
    },
    {
      icon: '🦮',
      project: 'Project 3',
      nodes: 30,
      users: 15,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 4',
      nodes: 40,
      users: 20,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'GPL+3.0',
    },
    {
      icon: '🦮',
      project: 'Project 5',
      nodes: 50,
      users: 25,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
    {
      icon: '🦮',
      project: 'Project 4',
      nodes: 40,
      users: 20,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'GPL+3.0',
    },
    {
      icon: '🦮',
      project: 'Project 5',
      nodes: 50,
      users: 25,
      website: 'https://skeletonlabs.com',
      code: 'https://github.com/skeletonlabs/skeleton',
      license: 'MIT',
    },
  ];
</script>

<Table
  source={{
    data: sourceData,
    headers: [
      { label: 'Icon' },
      { label: 'Project', orderBy: 'project' },
      { label: 'Nodes', orderBy: 'nodes' },
      { label: 'Users', orderBy: 'users' },
      { label: 'Website', orderBy: 'website' },
      { label: 'Code', orderBy: 'code' },
      { label: 'License', orderBy: 'license' },
    ],
  }}
  let:rows
>
  {#each rows as row, i}
    <tr aria-rowindex={i}>
      <td aria-colindex="1" class="text-center table-cell-fit">{row.icon}</td>
      <td aria-colindex="2">{row.project}</td>
      <td aria-colindex="3">{row.nodes}</td>
      <td aria-colindex="4">{row.users}</td>
      <td aria-colindex="5"
        ><a href={row.website} class="underline hover:text-secondary-100">{row.website}</a></td
      >
      <td aria-colindex="6"
        ><a href={row.code} class="underline hover:text-secondary-100">{row.code}</a></td
      >
      <td aria-colindex="7">{row.license}</td>
    </tr>
  {/each}
</Table>
