<script lang="ts" generics="T extends Row">
  import Pagination from './components/Pagination.svelte';

  import type { TableData } from '$lib/interfaces/TableData';
  import RowCount from './components/RowCount.svelte';
  import Th from './components/Th.svelte';
  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line @typescript-eslint/no-unused-vars
  import { DataHandler, type Row } from '@vincjo/datatables';

  // eslint don't know what this is because the generics attribute in script tag is too new
  // eslint-disable-next-line no-undef
  export let source: TableData<T>;

  const handler = new DataHandler(source.data, { rowsPerPage: 10 });
  const rows = handler.getRows();
</script>

<div class="table-container">
  <table role="grid" class="table table-hover table-compact border-collapse">
    <thead>
      <tr>
        {#each source.headers as header}
          {#if header.orderBy}
            <Th {handler} orderBy={header.orderBy}>{header.label}</Th>
          {:else}
            <th class="select-none">{header.label}</th>
          {/if}
        {/each}
      </tr>
    </thead>
    <tbody>
      <slot rows={$rows} />
    </tbody>
  </table>
</div>

<footer class="flex justify-between pt-3">
  <RowCount {handler} />
  <Pagination {handler} />
</footer>
